---
- hosts: localhost
  tasks:
    - name: iscsiPortal create
      portal:
        login:
          unityIP: "{{ host }}"
          username: "{{ username }}"
          password: "{{ password }}"	
        create:
          ethernetPort: {"id": "spa_eth0"}
          ipAddress: 192.168.70.225
          netmask: 255.255.255.0
      register: create_iscsiPortal
    - debug: var=create_iscsiPortal

    - name: host create
      host:
        login:
          unityIP: "{{ host }}"
          username: "{{ username }}"
          password: "{{ password }}"
        create:
          type: 1
          name: Host (Demo)
      register: create_Host
    - debug: var=create_Host

    - name: get pool id
      commonGetPost:
        login:
          unityIP: "{{ host }}"
          username: "{{ username }}"
          password: "{{ password }}"
        get:
          resource_type: pool
          fields: id
      register: get_Pool
    - debug: var=get_Pool

    - name: lun create
      lun:
        login:
          unityIP: "{{ host }}"
          username: "{{ username }}"
          password: "{{ password }}"
        createLun:
          name: LUN (Demo)
          lunParameters: { 
          pool: {id: "{{ get_Pool['output']['get'][0]['id'] }}"}, size: 1073741824, hostAccess: [{host: {id: "{{ create_Host['output']['create']['id'] }}"}, accessMask: 3}]}
      register: create_Lun
    - debug: var=create_Lun

    - name: iscsiInitiator create
      initiator:
        login:
          unityIP: "{{ host }}"
          username: "{{ username }}"
          password: "{{ password }}"
        create:
          host: {id: "{{ create_Host['output']['create']['id'] }}"}
          initiatorType: 2
          initiatorWWNorIqn: iqn.1993-08.org.debian:01:d84139d664bf
      register: create_iscsiInitiator
    - debug: var=create_iscsiInitiator

