---
- hosts: localhost
  tasks:
    - name: lun create
      lun:
        login:
          #host: "{{ host }}"
          #username: "{{ username }}"
          #password: "{{ password }}"
          host: 192.168.70.218
          username: admin
          password: Password123!
        createLun:
          name: lunByPlaybook4
          lunParameters: {pool: {id: 'pool_27'}, "size": 1073741824}
      register: result
    - debug: var=result
    - name: lun modify
      lun:
        login:
          #host: "{{ host }}"
          #username: "{{ username }}"
          #password: "{{ password }}"
          host: 192.168.70.218
          username: admin
          password: Password123!
        modifyLun:
          id: "{{ result['output']['createLun']['storageResource']['id'] }}"
          name: modified_name_by_playbook3
      register: result1
    - debug: var=result
    - name: lun delete
      lun:
        login:
          #host: "{{ host }}"
          #username: "{{ username }}"
          #password: "{{ password }}"
          host: 192.168.70.218
          username: admin
          password: Password123!
        delete:
          id: "{{ result['output']['createLun']['storageResource']['id'] }}"
      register: result
    - debug: var=result

#ansible-playbook ../playbooks/examples/pool_create_and_delete.yml -e "host=192.168.70.217 
#username=admin password=Password123!" -c local