---
- hosts: localhost
  tasks:
    - name: portal create
      portal:
        login:
          host: 192.168.70.218
          username: admin
          password: Password123!
        create:
          ethernetPort: {"id": "spa_eth0"}
          ipAddress: "192.168.70.217"
          netmask: "255.255.255.0"
      register: result
    - debug: var=result
    - name: portal modify
      portal:
        login:
          host: 192.168.70.218
          username: admin
          password: Password123!
        modify:
          id: "{{ result['output']['create']['id'] }}"
          ipAddress: "192.168.70.217"
    - debug: var=result
    - name: portal delete
      portal:
        login:
          host: 192.168.70.218
          username: admin
          password: Password123!
        delete:
          id: "{{ result['output']['create']['id'] }}"
      register: result
    - debug: var=result
